body {
  background-color: rgba(181, 149, 102, 0.612);
  overflow-x: hidden;
}

#why-us,
#faq,
#contact-form {
  background-color: #D1BEA1;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 5px 1vw;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.contact-container {
  margin-left: 20px;
}

.contact-us {
  background-color: rgb(138, 90, 2);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.contact-us img {
  margin-left: 5px;
  padding-bottom: 5px;
  width: 25px;
  height: auto;
}

.contact-us:hover {
  background-color: rgb(77, 50, 1);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    display: block;
    margin-bottom: 20px;
  }

  .contact-container {
    margin-left: 0;
  }
}

.background-image {
  position: relative;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-image h1 {
  background-color: rgba(0, 0, 0, 0.486);
  padding: 2vw;
  font-size: 56px;
  color: rgb(232, 232, 232);
}

@media screen and (max-width: 390px) {
  .footer-last {
    margin-top: 10px;
  }
}

section {
  padding: 25px 20px 0 20px;
  text-align: center;
}

.faq h2 {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: bold;
}

.question {
  width: 50vw;
  margin: 0 auto 20px;
  text-align: 50vw;
  border: solid 1px #353535;
  border-radius: 30px;
  padding: 10px 10px 10px 20px;
}

.question:last-child {
  margin: 0 auto;
}

.question h3 {
  font-size: 22px;
}

.question-title {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-right: 35px;
}

.answer {
  display: none;
}

.question.open .answer {
  display: block;
  margin-top: 10px;
  font-size: 22px;
}

.question-title::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 28px;
}

.question.open .question-title::after {
  content: "-";
  font-size: 36px;
}

.contact-form {
  padding: 25px 20px;
}

.call-us {
  display: none;
}

.call-us h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

.call-us h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.call-us a {
  color: rgb(37, 37, 37);
  text-decoration: underline;
} 

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 10px;
}

.footer-content {
  width: 100vw;
  margin: 0 auto;
}

.footer-content nav {
  margin-bottom: 10px;
}

.footer-content a {
  font-size: 16px;
}

.mascot-tooltip {
  display: none;
  position: absolute;
  bottom: calc(100% - 10px);
  right: -50%;
  background-color: #ebe2d6;
  color: black;
  padding: 15px;
  width: 130px;
  border-radius: 30px;
  font-size: 18px;
  z-index: 100;
  margin-right: 110px;
}

.mascot:hover .mascot-tooltip {
  display: block;
}

.mascot {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: mascot-appear 1s ease forwards;
}

.mascot img {
  width: 90px;
  height: auto;
  background-color: #ebe2d6;
  border-radius: 30px;
  animation: mascot-jump 2s infinite alternate ease-in-out;
}

.mascot-tilt {
  animation: mascot-tilt 1s infinite alternate ease-in-out;
}

@keyframes mascot-appear {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes mascot-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes mascot-tilt {
  0%,
  100% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(10deg);
  }
  65% {
    transform: rotate(-20deg);
  }
}

@media screen and (max-width: 1000px) {
  .background-image h1 {
    font-size: 42px;
  }

  .question {
    width: 90%;
  }

  a {
    font-size: 24px;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {
  .question {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    display: block;
    margin-bottom: 20px;
  }

  .contact-container {
    margin-left: 0;
  }

  .call-us {
    display: block;
    text-align: center;
    margin-bottom: 20px; 
  }

  .contact-form {
    padding: 25px 20px 0 20px;
  }

  .mascot img {
    width: 70px;
  }

  .mascot-tooltip {
    right: -70%;
    width: 100px;
    font-size: 14px;
  }
}